:root{
    --btn-primary-bg:#2980B9;
    --btn-txt:#FFF;
    --btn-secondary-bg:#E74C3C;
}

*{
    padding: 0px;
    margin:0px;
    box-sizing: border-box;
}

.container{
    margin: 20px auto;
}

input{
    height: 30px;
    margin-bottom: 20px;
    padding-left: 10px;
    margin-left: 20px;
}

label{
    margin-bottom: 5px;
}

.button-panel{
    display: flex;
    justify-content: space-between;
}

.lvw-personas{
    height:400px;
    overflow: auto;
    background-color:#1B2631 ;
}

.table-data{
    width: 80%;
    margin: 0 auto;
    padding: 10px;
}

table{
    width: 100%;
   
    color: #EBEDEF;
    overflow: hidden;
}

table, thead, tbody{
    border: solid 2px #000;
    border-collapse: collapse;
}

tbody{
    padding-top: 100px;
    min-height: 100px;
}

thead{
    background-color:#212F3D;
    color: #FFF;
    font-weight: bold;
}

th{
    padding:20px 10px;
}

tr td{
    padding: 0px 10px;
    font-weight: bold;
    border-bottom: solid 1px rgba(39, 55, 70, 0.8);
    text-align: center;
}

tr{
    width: 100%;
}

.data-key{
    display: none;
}

tbody>tr:hover{
    background-color:#2E86C1;
    color:#FFF;
}

.btn{
    min-width: 120px;
    height: 45px;
    font-weight: bold;
    font-size: 0.9em;
    border: none;
    margin: 5px;
    background-color:#839192 ;
    color: #FFF;
    border-radius: 5px;
    text-decoration: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.primary{
    background-color: var(--btn-primary-bg) ;
    color: var(--btn-txt);
}

.primary:hover{
    background-color: #85C1E9 ; 
}

.secondary{
    background-color: var(--btn-secondary-bg) ;
    color: var(--btn-txt);
}

.secondary:hover{
    background-color: #FD886E;
}

.data-error{
    background-color:#D98880 ;
}

/***Para la ventana modal**/
.frm-modal{
    position: fixed;
    top: -100vh;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0, 0, 0.75);   
    padding-top: 10%;
    opacity: 0;
    transition: opacity 0.35s ease;    
}

.frm-modal:target{
    top: 0vh;
    opacity: 1;
}

.button-frm{
    display: flex;
    justify-content: flex-end;
}

.user-form{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 20px auto;
    background-color:#EAECEE;
    padding: 20px;
    border-radius: 5px;
}

